<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel de Administração</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Painel de Administração</h1>
        <div class="list-group">      
            <a href="/admin/ginasio/" class="list-group-item list-group-item-action">Gerenciar ginasio</a>
            <a href="/admin/lazer/" class="list-group-item list-group-item-action">Gerenciar lazer</a>
            <a href="/admin/quarto/" class="list-group-item list-group-item-action">Gerenciar quatos</a>
            <a href="/admin/restaurante/" class="list-group-item list-group-item-action">Gerenciar restaurante</a>
            <a href="/admin/conferencia/" class="list-group-item list-group-item-action">Gerenciar sala de conferencia</a>
            <a href="/admin/reserva/" class="list-group-item list-group-item-action">Gerenciar reservas</a>
        </div>
    </div>
</body>
</html>
