#fun{
    background-image: url("../img.s/banner.s/inicial.jpg") ;
    background-repeat: no-repeat;
    background-size: 100%;
}
#cabecalho{
text-align: center;
width: 100%;
}
#t1{
    margin: 15% 0 0 5%;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#p1{
    margin: 0 0 2% 3%;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.bt-a{
    margin: 8% 0 8% 5%;
}
a{
    color: rgb(218, 218, 218);
    transition: 0.5s;
}
a:hover{
    color: rgb(238, 235, 235);
}
li{
   border-radius: 10px;
   transition: 1s; 
   margin: 40px 5px 0 5px;
   padding: 0;
   height: 50px;
}
li:hover{
    background-color: rgba(153, 197, 247, 0.068);
    color: white;
}
nav{
    background-color: rgba(146, 186, 233, 0.3);
    padding: 8px;
}
#cont{
    width: 80px;
    height: 70px;
}
#informacao{
    text-align: center;
    width: 60%;
    margin: 6% 0 5% 20%;

}
#imgs{
    width: 70%;
    margin: 6% 0 5% 22%;
}
#inf2{
    text-align: center;
    width: 50%;
    margin: 2% 0 2% 26%;
}
#cliente-card{
    padding: 20px;
    background-color: #502800 ;
    text-align: center;
}
#img-card{
    border: 2px solid black;
    margin: 2% 0% 0% 38%;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
#card{
    margin: 2% 2% 2% 2%;
    border-radius: 30px;
}
#inf-serv{
    width: 60%;
    margin: 6% 0 5% 20%;
    text-align: center;
}
.col-sm-5{
    transition: 1s;
}
.col-sm-5:hover{
transform: scale(1.1);
}
#encontra{
    text-align: center;
}
#flex{
    margin: 2% 2% 3% 2%;
    
    font-size: 10pt;
}
#flex div{
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
}
#reservar{
    padding: 6px;
    color: black;
    background-color: rgb(255, 174, 0);
    border-radius: 50px;
    width: 120px;
}
#p1{
    width: 30%;
    text-align: center;
}
#baixo{
    background-color: rgb(22, 22, 22);
    border-top-left-radius: 70px;
    border-top-right-radius: 50px;
    margin-top: -30px;
    color: white;
}
#b{
    text-align: center;
    padding: 5px;
}
#direita{
    border-left: 3px solid rgb(255, 174, 0);
    padding: 10px;
   
}