<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Hotel GADGIL - Bem-vindo</title>
    <link rel="stylesheet" href="../css/pagina inicial.css">
</head>
<body>

  <div id="fun">
  <header id="cabecalho">
    <nav>
      <ul class="nav nav-pills nav-fill">
          <img src="../img.s/icon.s/logo2.png" alt="" style="width: 130px; height: 130px; margin-left: 2%;">
        
          <li class="nav-item ">
            <a class="nav-link active" href="./">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./quarto">QUARTOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./restaurante">RESTAURANTES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./lazer">ESPAÇOS DE LAZER</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="./conferencia">SALA DE REUINÕES & CONFERENCIAS</a>
            </li>
              <img src="../img.s/icon.s/phone1.png" alt="" class="nav-link" id="cont" style="width: 70px; height: 50px; margin: 2.5% 4% 1% 2%;">
            
        </ul>
  </nav>

    </header>

    <h1 id="t1">HOTEL GADGIL</h1>
    <p id="p1">O melhor conforto você só encontra aqui na Gadgil</p>

  <a href=""><img src="../img.s/icon.s/Quadro 10_2.png" alt="" class="bt-a"></a>

  </div>

    <section id="informacao">
<h1>HOTEL GADGIL</h1>
<p>O melhor conforto você só encontra aqui na Gadgil!</p>

<p>O Hotel GADGIL é uma referência em Angola, situado em uma área 
    privilegiada, o hote combina uma rica história com uma localização 
    estrategica, oferecendo fácil acesso a atrações turísticas e áreas 
    comerciais importantes. </p>

    <p>Ao longo dos anos o hotel GADGIL se consolidou como uma escolha 
        popular tanto para turistas quanto para viajantes de negócios. suas 
        valências incluem uma ampla gama de serviços e comodidades, com 
        quartos confortáveis e bem equipados, um restaurante de alta qualidade 
        que serve pratos locais e internacionais, espaço para eventos e 
        conferências, uma academia moderna e áreas de lazer como piscina e 
        spa. </p>

        <p>O Hotel também é conhecido por seu atendimento excepcional, 
            garantindo uma estadia agradável e memorável para todos os hóspedes.</p>
            <br>
            <h1>WELCOME TO HOTEL GADGIL!</h1>
    </section>

    <section id="imgs" >

        <div class="row" >
            <div class="col-sm-5" style="padding-bottom: 8px;">
                  <img src="../img.s/banner.s/card-1.jpg" style="width: 100%; height: 100%;" alt="" >
                <br>
            </div>

            <div class="col-sm-5" style="text-align: center; padding-bottom: 8px;">
                <div class="card1">
                  <div class="card-body" style="background-color: rgba(224, 204, 204, 0.89);">
                    <h4 class="card-title">DESCANSE NO MELHOR CONFORTO</h4>
                    <br>
                    <p class="card-text">No Hotel GADGIL você encontra um ambiente 
                        acolhedor nos quartos, onde o seu bem-estar  
                        é a nossa peioridade lhe proporcionando um  
                        descanso incrível.</p>
                        
                    <a href="#"><p>Ver mais detalhes</p></a>
                  </div>
                </div>
              </div>

            <div class="col-sm-5" style="text-align: center; padding-bottom: 8px;">
                <div class="card1">
                  <div class="card-body" style="background-color: rgba(224, 204, 204, 0.89);">
                    <h4 class="card-title">TRABALHE</h4>
                    <br>
                    <p class="card-text">Dispomos de um centro de congressos com 5 
                        salas e um floyer de apoio com acesso  
                        independente de entrada principal. </p>
                        <br>
                        <br>
                    <a href="#"><p>Ver mais detalhes</p></a>
                  </div>
                </div>
              </div>

            <div class="col-sm-5" style="padding-bottom: 8px;">
                    <img src="../img.s/banner.s/card-2.jpg" style="width: 100%; height: 100%;" alt="">

              </div>

              <div class="col-sm-5" style="padding-bottom: 8px;">
                    <img src="../img.s/banner.s/card-3.jpg" style="width: 100%; height: 100%;" alt="">
                 <br>
              </div>

              <div class="col-sm-5" style="text-align: center; padding-bottom: 8px;">
                <div class="card1">
                  <div class="card-body" style="background-color: rgba(224, 204, 204, 0.89);">
                    <h5 class="card-title"> RELAXE</h5>
                    <p class="card-text"> Desfrute do clima quente de Luanda, com o nosso  
                        espaço de lazer projetado pensando em você, lhe  
                        proporcionando os melhores momentos de 
                        descanso.</p>
                        <br>
                        <br>
                    <a href="#"><p>Ver mais detalhes</p></a>
                  </div>
                </div>
              </div>

              <div class="col-sm-5" style="text-align: center; padding-bottom: 8px;">
                <div class="card1">
                  <div class="card-body" style="background-color: rgba(224, 204, 204, 0.89);">
                    <h5 class="card-title">SABOREIE</h5>
                    <p class="card-text">  Numa refeição de negócios ou num encontro de 
                        amigos, experimente o melhor da gastronomia 
                        local e internacional com os melhores chefes de 
                        cozinha da região.</p>
                        <br>
                        <br>
                    <a href="#"><p>Ver mais detalhes</p></a>
                  </div>
                </div>
              </div>

              <div class="col-sm-5" style="padding-bottom: 8px;">
                    <img src="../img.s/banner.s/card-4.jpg" style="width: 100%; height: 100%;" alt="">
                  <br>
              </div>


              <div class="col-sm-5" style="padding-bottom: 8px;">
                    <img src="../img.s/banner.s/card-5.jpg" style="width: 100%; height: 100%;" alt="">
                  <br>
              </div>

              <div class="col-sm-5" style="text-align: center; padding-bottom: 8px;">
                <div class="card1">
                  <div class="card-body" style="background-color: rgba(224, 204, 204, 0.795);">
                    <h5 class="card-title">TREINE SEU CORPO</h5>
                    <p class="card-text"> Reservamos um espaço para que nossos clientes 
                        possam práticar exercícios físicos com um ginásio 
                        equipado com a capacidade de até 50 pessoas. </p>
                        <br>
                        <br>
                    <a href="#"><p>Ver mais detalhes</p></a>
                  </div>
                </div>
              </div>

          </div>

          

    </section>

    <section id="clientes">
        
        <div id="inf2">
            <h2>Nossos clientes</h2>
            <p>TRATAMOS DOS NOSSOS HÓSPEDES COMO CONVIDADOS ESPECIAIS</p>
            <br>
            <p>Na GADGIL todos os detalhes foram feitos pensando em ti e no teu bem estar 
                Ivestimos em nós paea cuidae bem de nossos clientes que para nós são a nossa prioridade</p>
        </div>

        <div id="cliente-card">

            <div class="card-group">

                <div class="card" id="card">
                  <img class="card-img-top" src=".../100px180/" alt="Imagem de capa do card" id="img-card">
                  <div class="card-body">
                    <h5 class="card-title"> Inácio Milengo</h5>
                    <p class="card-text"> Pasasei as minhas ferias de verão 
                        no Hotel, e foi deslumbrante, conforto 
                        incrével, boa estadia, espaços de lazer 
                        muito bonitos e descontraidos, eu e a  
                        minha familia podemos sair de lá satisfeitos, 
                        recomendo o Hotel GADGIL.</p>
                  </div>
                </div>

                <div class="card" id="card">
                  <img class="card-img-top" src=".../100px180/" alt="Imagem de capa do card" id="img-card">
                  <div class="card-body">
                    <h5 class="card-title">Pedro Cavudissa</h5>
                    <p class="card-text"> Sem palavras...nunca estive em um lugar 
                        como o Hotel GADGIL em um espaço 
                        Angolano, boa estadia, excelente  
                        atendimento, capas confortáveis. 
                        pude saboreiar dos melhores pratos 
                        da nossa terra. 
                        Excelente Hotel para relaxar.</p>
                  </div>
                </div>

                <div class="card" id="card">
                  <img class="card-img-top" src=".../100px180/" alt="Imagem de capa do card" id="img-card">
                  <div class="card-body">
                    <h5 class="card-title">Dorivaldo Vaz Lopes</h5>
                    <p class="card-text"> Estive procurando um lugar para 
                        reunir com os meus socios, e  
                        encontrei o Hotel GADGIL. 
                        Foi uma boa experiência, salas 
                        equipadas e um ambiente limpo, 
                        recomendo o Hotel para quem busca 
                        um lugar acolhedor.</p>
                  </div>
                </div>
             </div>

        </div>
    </section>

    <section id="servicos">
<div id="inf-serv">
    <h1>Alguns dos nossos Serviços</h1>
    <p>O Hotel GADGIL oferece diversos serviços que lhe vão deixar de boca aberta,  
        tudo isso pensando no bem-estar de nossos  
        clientes.Temos funcionários capacitados para atende-lo, chefes de cozinha  
        que tratarão de deixar o seu dia mais agradável,  
        confie em nós.</p>
</div>
<img src="../img.s/banner.s/services.jpeg" class="img-fluid" alt="Imagem responsiva" style="width: 100%; height: 400px;">
    </section>

    <section id="encontrar" style="margin-top: 6%;">
        <div id="encontra">
            <h4>Encontre-nos</h4>
            <img src="../img.s/banner.s/encontre.jpeg" alt="">
        </div>
        <img src="../img.s/banner.s/localizar.jpeg" alt="" style="width: 100%; height: 400px; margin-top: 5%;">
    
        <footer id="baixo">

        <div class="d-flex flex-row bd-highlight mb-3" id="flex">
            <div class="p-2 bd-highlight">
                <section id="esquerda" style="padding: 10px;">
                <h6> LUANDA ANGOLA CIDADE ALTA </h6>
                <br>
                <p id="p1"> CONTACTENOS 
                    244 935965845</p>
<br><br><br>
                    <a href="./quarto"><button id="reservar">Reservar</button></a>
            </section>
        </div>

            <div class="p-2 bd-highlight">
                <aside id="direita">
                    <h6> SIGA AS NOSSAS REDES SOCIAIS</h6>
                    <p>#HOTELGADGIL</p>
                    <p>VISITE O NOSSO SITE <a href="#">www.hotelgadgill.com</a></p>
                    
                    <img src="../img.s/icon.s/logo2.png" alt="" style="width: 100px; height: 100px;">
                </aside>
            </div>
          </div>

          <p id="b">HOTEL GADGILL 2024, TODOS OS DIREITOS RESERVADO</p>

        </footer>
    </section>

</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</html>
