<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Hotel GADGIL - Espaços de Lazer</title>
    <link rel="stylesheet" href="../css/lazer.css">
    <link rel="stylesheet" href="../css/quartos.css">
</head>
<body>
    <div class="fun2">

        <header id="cabecalho">
          <nav>
            <ul class="nav nav-pills nav-fill" id="list-menu">
              <img src="../img.s/icon.s/logo2.png" alt="" style="width: 130px; height: 130px; margin-left: 2%;">
    
              <li class="nav-item">
                <a class="nav-link" href="./">HOME</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./quarto">QUARTOS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./restaurante">RESTAURANTES</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="./lazer">ESPAÇOS DE LAZER</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./conferencia">SALA DE REUINÕES & CONFERENCIAS</a>
              </li>
          </nav>
    
        </header>
    
        <main id="inf-main">
          <div>
            <h1>Desfrute dos 
                melhores 
                espaços de Lazer</h1>
            <p>O melhor descanço você só encontra aqui</p>
          </div>
          <br><br>
        </main>
        <br>
        <br>
        <br>
      </div>
      <div class="d-flex justify-content-center" id="for-check">
          <div class="p-2 bd-highlight" style="margin-left: 60%;">
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <div><img src="../img.s/icon.s/logo2.png" alt="" style="width: 100px; height: 100px; margin-top: -20px;"></div> 
              </li>
              <li class="nav-item dropdown">
                  <div>
                  <h3 style="font-size: 30pt; font-weight: 700; color: rgb(80, 79, 79);">HOTELGADGIL</h3>
                </div>
              </li>
      
            </ul>
          </div>
        </div>
        </div>

        <div id="artigos">
            <h3 style="text-align: center; color: rgb(53, 53, 53); margin: 5% 0 4% 0;">Nossas áreas de lazer</h3>
         
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img class="d-block w-100" src="../img.s/banner.s/lazer.jpg" alt="Primeiro Slide">
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="../img.s/banner.s/card-3.jpg" alt="Segundo Slide">
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="../img.s/banner.s/108177-5-dicas-para-ter-uma-area-de-lazer-moderna.webp" alt="Terceiro Slide">
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Anterior</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Próximo</span>
                </a>
              </div>

              <h3 style="text-align: center; color: rgb(53, 53, 53); margin: 5% 0 4% 0;">Cantinho Educacional</h3>

              <img src="../img.s/banner.s/LEVISKY_ARQ_SENAC_GH_ANAME_(10).jpg" class="img-fluid" alt="Imagem responsiva" id="ig">
        </div>
        <footer>
            <p>© 2024 HOTEL GADGILL. Todos os direitos reservados.</p>
        </footer>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
  integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
  integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</html>
