<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <title>Hotel GADGIL - Quartos</title>
 <link rel="stylesheet" href="../css/quartos.css">
</head>

<body>

  <div class="fun">

    <header id="cabecalho">
      <nav>
        <ul class="nav nav-pills nav-fill" id="list-menu">
          <img src="../img.s/icon.s/logo2.png" alt="" style="width: 130px; height: 130px; margin-left: 2%;">

          <li class="nav-item">
            <a class="nav-link" href="./">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="./quarto">QUARTOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./restaurante">RESTAURANTES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./lazer">ESPAÇOS DE LAZER</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./conferencia">SALA DE REUINÕES & CONFERENCIAS</a>
          </li>
      </nav>

    </header>

    <main id="inf-main">
      <div>
        <h1>Descanse no melhor conforto</h1>
        <p>Nós garantimos as melhores noites e descanso para si</p>
      </div>
      <a href="./reserva"> <img src="../img.s/icon.s/Quadro 10.png" alt=""> </a>
    </main>

    <ul class="nav nav-pills" id="escolha">
      <li class="nav-item">
        <a class="nav-link" href="#"><img src="../img.s/icon.s/Quadro_23.png" alt=""> Escolher quarto</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><img src="../img.s/icon.s/Quadro_22.png" alt=""> Terminar reserva</a>
      </li>
    </ul>
    <br>
  </div>

  <div class="d-flex justify-content-center" id="for-check">

    <div class="p-2 bd-highlight">

      <ul class="nav nav-tabs" style="border: none;">
        <li class="nav-item">
          <div><img src="../img.s/icon.s/calendar_icon_151795.png" alt=""
              style="width: 33px; height: 33px;"></div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false" style="color: black;">Check-in/Check-Out</a>
          <div class="dropdown-menu">
          <div class="dropdown-item">Check-in <input type="date"></div> 
           <div class="dropdown-item">Check-Out <input type="date"></div>
          </div>
        </li>
        <li class="nav-item">
         <div><img src="../img.s/icon.s/keyboard-arrow-down_119013.png" alt=""
              style="width: 15px; height: 15px; margin-top: 12px;"></div> 
        </li>
      </ul>

    </div>

    <div class="p-2 bd-highlight">
      <ul class="nav nav-tabs" style="border: none;">
        <li class="nav-item">
          <div><img src="../img.s/icon.s/pessoas.png" alt=""
            style="width: 33px; height: 33px;"></div>
        </li>
        <li class="nav-item dropdown">
         <div class="nav-link dropdown-toggle" data-toggle="dropdown">Pessoas</div>
          <div class="dropdown-menu">
           <div class="dropdown-item">Número de quartos <input type="number"></div> 
           <div class="dropdown-item">Pessoas <input type="number"></div> 
          </div>
        </li>
        <li class="nav-item">
         <div><img src="../img.s/icon.s/keyboard-arrow-down_119013.png" alt=""
              style="width: 15px; height: 15px; margin-top: 12px;"></div>
        </li>
      </ul>
    </div>
    <div class="p-2 bd-highlight">
      <ul class="nav nav-tabs" style="border: none;">
        <li class="nav-item">
          <div><img src="../img.s/icon.s/logo2.png" alt="" style="width: 70px; height: 70px; margin-top: -20px;"></div> 
        </li>
        <li class="nav-item dropdown">
            <div>
            <h3>HOTELGADGIL</h3>
          </div>
        </li>

      </ul>
    </div>
  </div>
  </div>

  <!-----------------main----------------------------------------------->

  <main id="itens">

    <ul id="title">
      <li><h1>Escolha o seu quarto</h1></li>
      <li>
        <ul id="escolha2">
          <li>Quarto</li>
          <li style="background-color: rgba(204, 153, 153, 0.253); border-left: 1px solid rgb(139, 139, 139);">Tarifa</li>
        </ul>

      </li>
    </ul>

  <ul id="aux">
    <li>
      <ul id="list-above" >
       <li style="text-align: left;">Total</li>
       <li style="float: right;">KZ 0</li>

      </ul>
    </li>
    <li><a href="#"><img src="../img.s/icon.s/Quadro_17.png" alt="" style="width: 100%; "></a></li>
  </ul>

  <!-----------------------Cards-------------------------------------------->

  <div class="card" style="width: 38rem;">
      <div id="nu">1024</div>
    
    <div id="img-card2">

      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="../img.s/banner.s/q1.jpg" alt="Primeiro Slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../img.s/banner.s/q2.jpg" alt="Segundo Slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../img.s/banner.s/q4.jpg " alt="Terceiro Slide">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Próximo</span>
        </a>
      </div>

    </div>
    <ul class="list-group list-group-flush" >
      <li class="list-group-item" >
       <p id="oferta">Oferta exclusiva Hotel GADGIL</p>
       <div id="desc">-10%</div>
       <p id="npessoa">1 noite, 1 pessoa</p>
       <p id="p1">314,32</p>
       <p id="p2">KZ 282,89</p>

       <ul id="list">
        <li> Pequeno almoço 
          incluído</li>
        <li>Não cancelável</li>
        <li>Pague no hotel</li>
       </ul>
       <br>

      </li>
      <li class="list-group-item">

        <p id="oferta">Melhor tarifa disponível / Meia-pensão </p>
       <p id="npessoa2" >1 noite, 1 pessoa</p>
       <p id="p2-2" style="color: rgb(129, 129, 129);">KZ 359,89</p>

       <ul id="list2">
        <li> Pequeno almoço 
          incluído</li>
        <li>Não cancelável</li>
        <li>Pague no hotel</li>
       </ul>
       <a href="./reservas.html"><img src="../img.s/icon.s/Quadro_4.png" alt="" id="btn"></a>
      </li>
    </ul>
    
  </div>

  <!----------------------------------Segundo Card-------------------------------------->
  <div class="card" style="width: 38rem;">
    <div id="nu">1025</div>
  
  <div id="img-card2">

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="../img.s/banner.s/q2.jpg" alt="Primeiro Slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../img.s/banner.s/q1.jpg" alt="Segundo Slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../img.s/banner.s/q4.jpg " alt="Terceiro Slide">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
      </a>
    </div>

  </div>
  <ul class="list-group list-group-flush" >
    <li class="list-group-item" >
     <p id="oferta">Oferta exclusiva Hotel GADGIL</p>
     <div id="desc">-10%</div>
     <p id="npessoa">1 noite, 1 pessoa</p>
     <p id="p1">300,32</p>
     <p id="p2">KZ 252,89</p>

     <ul id="list">
      <li> Pequeno almoço 
        incluído</li>
      <li>Não cancelável</li>
      <li>Pague no hotel</li>
     </ul>
     <br>

    </li>
    <li class="list-group-item">

      <p id="oferta">Melhor tarifa disponível / Meia-pensão </p>
     <p id="npessoa2" >1 noite, 1 pessoa</p>
     <p id="p2-2" style="color: rgb(129, 129, 129);">KZ 342,89</p>

     <ul id="list2">
      <li> Pequeno almoço 
        incluído</li>
      <li>Não cancelável</li>
      <li>Pague no hotel</li>
     </ul>
     <a href="./reservas.html"><img src="../img.s/icon.s/Quadro_4.png" alt="" id="btn"></a>
    </li>
  </ul>
  
</div>

<!-------------terceiro card------------------------------------------->

<div class="card" style="width: 38rem;">
  <div id="nu">1035</div>

<div id="img-card2">

  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="../img.s/banner.s/quarto.jpg" alt="Primeiro Slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../img.s/banner.s/q4.jpg" alt="Segundo Slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../img.s/banner.s/q2.jpg " alt="Terceiro Slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Próximo</span>
    </a>
  </div>

</div>
<ul class="list-group list-group-flush" >
  <li class="list-group-item" >
   <p id="oferta">Oferta exclusiva Hotel GADGIL</p>
   <div id="desc">-10%</div>
   <p id="npessoa">1 noite, 1 pessoa</p>
   <p id="p1">400,32</p>
   <p id="p2">KZ 370,89</p>

   <ul id="list">
    <li> Pequeno almoço 
      incluído</li>
    <li>Não cancelável</li>
    <li>Pague no hotel</li>
   </ul>
   <br>

  </li>
  <li class="list-group-item">

    <p id="oferta">Melhor tarifa disponível / Meia-pensão </p>
   <p id="npessoa2" >1 noite, 1 pessoa</p>
   <p id="p2-2" style="color: rgb(129, 129, 129);">KZ 398,89</p>

   <ul id="list2">
    <li> Pequeno almoço 
      incluído</li>
    <li>Não cancelável</li>
    <li>Pague no hotel</li>
   </ul>
   <a href="./reservas.html"><img src="../img.s/icon.s/Quadro_4.png" alt="" id="btn"></a>
  </li>
</ul>

</div>

</main>

<footer id="baixo">

  <div class="d-flex flex-row bd-highlight mb-3" id="flex">
      <div class="p-2 bd-highlight">
          <section id="esquerda" style="padding: 10px;">
          <h6> LUANDA ANGOLA CIDADE ALTA </h6>
          <br>
          <p id="p1-1"> CONTACTENOS 
              244 935965845</p>
<br><br><br>
              <button id="reservar">Reservar</button>
      </section>
  </div>

      <div class="p-2 bd-highlight">
          <aside id="direita">
              <h6> SIGA AS NOSSAS REDES SOCIAIS</h6>
              <p>#HOTELGADGIL</p>
              <p>VISITE O NOSSO SITE <a href="#">www.hotelgadgill.com</a></p>
              
              <img src="../img.s/icon.s/logo2.png" alt="" style="width: 100px; height: 100px;">
          </aside>
      </div>
    </div>

    <p id="b">HOTEL GADGILL 2024, TODOS OS DIREITOS RESERVADO</p>

  </footer>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
  integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
  integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</html>