<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  
    <title>Hotel GADGIL - Restaurante</title>
    <link rel="stylesheet" href="../css/restaurante.css">
    <link rel="stylesheet" href="../css/quartos.css">
</head>

<body>
    <div class="fun2">

        <header id="cabecalho">
          <nav>
            <ul class="nav nav-pills nav-fill" id="list-menu">
              <img src="../img.s/icon.s/logo2.png" alt="" style="width: 130px; height: 130px; margin-left: 2%;">
    
              <li class="nav-item">
                <a class="nav-link" href="./">HOME</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./quartos">QUARTOS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="./restaurante">RESTAURANTES</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./lazer">ESPAÇOS DE LAZER</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./conferencia">SALA DE REUINÕES & CONFERENCIAS</a>
              </li>
          </nav>
    
        </header>
    
        <main id="inf-main">
          <div>
            <h1>Sobereie do 
                melhor que temos</h1>
            <p> Nós garantimos as melhores noites e para si</p>
          </div>
          <a href="./reserva"> <img src="../img.s/icon.s/Quadro 10.png" alt=""> </a>
        </main>
        <br><br>
        <br>
      </div>
    
      <div class="d-flex justify-content-center" id="for-check">
    
        <div class="p-2 bd-highlight">
    
          <ul class="nav nav-tabs" style="border: none;">
            <li class="nav-item">
              <div><img src="../img.s/icon.s/calendar_icon_151795.png" alt=""
                  style="width: 33px; height: 33px;"></div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                aria-expanded="false" style="color: black;">Agosto 29</a>
              <div class="dropdown-menu">
              <div class="dropdown-item">Data <input type="date"></div>
              </div>
            </li>
            <li class="nav-item">
             <div><img src="../img.s/icon.s/keyboard-arrow-down_119013.png" alt=""
                  style="width: 15px; height: 15px; margin-top: 12px;"></div> 
            </li>
          </ul>
    
        </div>
    
        <div class="p-2 bd-highlight">
          <ul class="nav nav-tabs" style="border: none;">
            <li class="nav-item">
              <div><img src="../img.s/icon.s/pessoas.png" alt=""
                style="width: 33px; height: 33px;"></div>
            </li>
            <li class="nav-item dropdown">
             <div class="nav-link dropdown-toggle" data-toggle="dropdown">Mesa, Pessoas</div>
              <div class="dropdown-menu">
               <div class="dropdown-item">Nº de Mesas <input type="number"></div> 
               <div class="dropdown-item">Nº de Pessoas <input type="number"></div> 
              </div>
            </li>
            <li class="nav-item">
             <div><img src="../img.s/icon.s/keyboard-arrow-down_119013.png" alt=""
                  style="width: 15px; height: 15px; margin-top: 12px;"></div>
            </li>
          </ul>
        </div>
        <div class="p-2 bd-highlight">
          <ul class="nav nav-tabs" style="border: none;">
            <li class="nav-item">
              <div><img src="../img.s/icon.s/logo2.png" alt="" style="width: 70px; height: 70px; margin-top: -20px;"></div> 
            </li>
            <li class="nav-item dropdown">
                <div>
                <h3>HOTELGADGIL</h3>
              </div>
            </li>
    
          </ul>
        </div>
      </div>
      </div>
      <ul id="menu">
        <li><a href="#main1">Entradas</a></li>
        <li><a href="#main2">Sushi bar</a></li>
        <li><a href="#main3">Bitoque</a></li>
        <li><a href="#main4">Carne</a></li>
        <li><a href="#main5">Churrasco</a></li>
        <li><a href="#main6">Peixe e Marisco</a></li>
        <li><a href="#main7">Bebidas</a></li>
      </ul>
    <br>

    <main style="margin-top: 8%;" id="main1">

        <div class="d-flex justify-content-center" id="cont" >
            
            <img src="../img.s/banner.s/opcoes-de-entrada-restaurante.jpg" alt="" id="img-section">
    
            <div id="lat">
              <h3>Entradas</h3>
              <p id="par1">  Este prato de entrada é uma deliciosa seleção de frios e 
                acompanhamentos,  
                perfeita para iniciar sua experiência gastronômica no nosso restaurante.  
                Composto por uma variedade de queijos artesanais, embutidos finamente 
                fatiados,  
                como salame e presunto crudo, e fatias de pão crocante levemente 
                tostadas, ele oferece  
                um equilíbrio ideal de sabores e texturas. </p>
                <p>Gostaria de experimentar essa combinação irresistível?</p>
                
                <div id="valor">
                    <div class="d-flex justify-content-between">
                        <div id="paragrafo"><p>Prato de entrada</p></div>
                        <div><p style="color: rgb(126, 127, 128);">1 mesa, 1 pessoa</p>
                        <h6 style="color: greenyellow;">KZ 15,899</h6>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
    </main>
    
    <main id="main2">
        <div class="d-flex justify-content-center" id="cont">
            
            <img src="../img.s/banner.s/marisco.jpg" alt="" id="img-section">
    
            <div id="lat">
              <h3>Sushi bar</h3>
              <p id="par1">   Este prato de sushi é uma celebração da culinária japonesa em sua forma 
                mais fresca e elegante. Preparado com um cuidado excepcional, ele 
                apresenta uma vibrante seleção de sushis e sashimis que agradam tanto 
                os olhos quanto o paladar.  </p>

                <p>Que tal desfrutar desta explosão de sabores e texturas? Faça seu pedido 
                    agora e viva um momento único!</p>
                
                <div id="valor">
                    <div class="d-flex justify-content-between">
                        <div id="paragrafo"><p>Sushi bar</p></div>
                        <div><p style="color: rgb(126, 127, 128);">1 mesa, 1 pessoa</p>
                        <h6 style="color: greenyellow;">KZ 18.899</h6>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
    </main>

    <main id="main3">
        <div class="d-flex justify-content-center" id="cont">
            
            <img src="../img.s/banner.s/bitoque (1).jpeg" alt="" id="img-section">
    
            <div id="lat">
              <h3>Bitoque</h3>
              <p id="par1">Este prato é a definição de um almoço completo, trazendo os sabores e 
tradições da culinária brasileira em uma combinação irresistível. Composto 
por um suculento corte de carne grelhada, acompanhado por arroz 
soltinho, feijão preto encorpado e temperado na medida certa.   </p>
                <p>Que tal se deliciar com essa combinação perfeita e saborosa? Faça seu 
                    pedido agora e aproveite</p>
                
                <div id="valor">
                    <div class="d-flex justify-content-between">
                        <div id="paragrafo"><p>Bitoque</p></div>
                        <div><p style="color: rgb(126, 127, 128);">1 mesa, 1 pessoa</p>
                        <h6 style="color: greenyellow;">KZ 20.899</h6>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
    </main>

    <main id="main4">
        <div class="d-flex justify-content-center" id="cont">
            
            <img src="../img.s/banner.s/carne.jpg" alt="" id="img-section">
    
            <div id="lat">
              <h3>Carne</h3>
              <p id="par1">Este prato de carne é uma escolha irresistível para quem aprecia um bom 
                corte suculento e bem preparado. Servido no ponto perfeito, ele combina a 
                maciez e o sabor robusto da carne grelhada com uma apresentação que 
                desperta o apetite. Acompanhado de arroz branco soltinho, batatas fritas 
                douradas e crocantes.</p>
                
                <div id="valor">
                    <div class="d-flex justify-content-between">
                        <div id="paragrafo"><p>Carne</p></div>
                        <div><p style="color: rgb(126, 127, 128);">1 mesa, 1 pessoa</p>
                        <h6 style="color: greenyellow;">KZ 14.899</h6>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
    </main>

    <main id="main5">
        <div class="d-flex justify-content-center" id="cont">
            
            <img src="../img.s/banner.s/chorrasco.jpeg" alt="" id="img-section">
    
            <div id="lat">
              <h3>Chorrasco</h3>
              <p id="par1"> Este prato de churrasco é uma celebração dos sabores intensos e 
                autênticos da grelha. Preparado com cortes nobres de carne suculenta, ele 
                é grelhado à perfeição para realçar sua textura macia e seu sabor 
                marcante. Servido com arroz soltinho, batatas fritas douradas e crocantes, 
                e uma refrescante salada de alface e tomate, cada elemento complementa 
                o prato, oferecendo uma experiência equilibrada e deliciosa.</p>
                
                <div id="valor">
                    <div class="d-flex justify-content-between">
                        <div id="paragrafo"><p>Chorrasco</p></div>
                        <div><p style="color: rgb(126, 127, 128);">1 mesa, 1 pessoa</p>
                        <h6 style="color: greenyellow;">KZ  25.899</h6>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
    </main>

    <main id="main6">
        <div class="d-flex justify-content-center" id="cont">
            
            <img src="../img.s/banner.s/marisco.jpg" alt="" id="img-section">
    
            <div id="lat">
              <h3>Peixe e Marisco</h3>
              <p id="par1">Mariscos Frescos: Uma seleção dos melhores mariscos frescos, 
                preparados com um toque de limão e ervas aromáticas. Cada mordida é 
                uma explosão de sabor do mar, perfeita para quem busca uma experiência 
                autêntica e sofisticada</p>
                
                <div id="valor">
                    <div class="d-flex justify-content-between">
                        <div id="paragrafo"><p>Peixe e Marisco</p></div>
                        <div><p style="color: rgb(126, 127, 128);">1 mesa, 1 pessoa</p>
                        <h6 style="color: greenyellow;">KZ  20.899</h6>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
    </main>

    <main id="main7">
        <div class="d-flex justify-content-center" id="cont">
            
            <img src="../img.s/banner.s/bebidas.jpg" alt="" id="img-section">
    
            <div id="lat">
              <h3>Cardápio de Bebidas</h3>
              <p id="par1">Explore nosso cardápio completo de bebidas, que oferece uma 
                variedade de opções para todos os gostos. De coquetéis clássicos a 
                criações exclusivas, vinhos selecionados, cervejas geladas e sucos 
                naturais refrescantes, temos a bebida perfeita para acompanhar cada 
                momento. Com preços acessíveis e uma vasta gama de escolhas, você 
                pode desfrutar de uma experiência única, seja para um brinde especial 
                ou para relaxar à beira da piscina.</p>
                <br>
                <p>Confira o menu, escolha sua bebida favorita e torne seu momento ainda 
                    mais especial!</p>
                
                <div id="valor">
                    <div class="d-flex justify-content-between">
                        <div id="paragrafo"><p>Marisco</p></div>
                        <div><p style="color: rgb(126, 127, 128);">1 mesa, 1 pessoa</p>
                        <h6 style="color: greenyellow;">KZ  20.899</h6>
                        </div>
                    </div>
                    
                    
                </div>
                <br><br>
                <button style="background-color: yellow; border-radius: 50px; 
                width: 150px; cursor: pointer; border: none;">Seguinte</button>
            </div>
            
    </main>


    <footer>
        <p>© Hotel GADGIL 2024</p>
    </footer>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
  integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
  integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</html>