<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  
    <title>Hotel GADGIL - Sala de Reuniões & Conferências</title>
    <link rel="stylesheet" href="../css/reunioes.css">
    <link rel="stylesheet" href="../css/quartos.css">
</head>
<body>
    <div class="fun2">

        <header id="cabecalho">
          <nav>
            <ul class="nav nav-pills nav-fill" id="list-menu">
              <img src="../img.s/icon.s/logo2.png" alt="" style="width: 130px; height: 130px; margin-left: 2%;">
    
              <li class="nav-item">
                <a class="nav-link" href="./">HOME</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./quarto">QUARTOS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./restaurante">RESTAURANTES</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./lazer">ESPAÇOS DE LAZER</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="./conferencia">SALA DE REUINÕES & CONFERENCIAS</a>
              </li>
          </nav>
    
        </header>
    
        <main id="inf-main">
          <div>
            <h1>Sala de reuniões &   
                Conferências</h1>
            <p>Tenha a melhor reunião e conferência nas nossas salas</p>
          </div>
          <br>
          <br><br>
        </main>
    
       <br><br>
        <br>
      </div>
    
      <div class="d-flex justify-content-center" id="for-check">
    
        <div class="p-2 bd-highlight">
    
          <ul class="nav nav-tabs" style="border: none;">
            <li class="nav-item">
              <div><img src="../img.s/icon.s/calendar_icon_151795.png" alt=""
                  style="width: 33px; height: 33px;"></div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                aria-expanded="false" style="color: black;">Agosto 29</a>
              <div class="dropdown-menu">
              <div class="dropdown-item">Data<input type="date"></div> 
              </div>
            </li>
            <li class="nav-item">
             <div><img src="../img.s/icon.s/keyboard-arrow-down_119013.png" alt=""
                  style="width: 15px; height: 15px; margin-top: 12px;"></div> 
            </li>
          </ul>
    
        </div>
    
        <div class="p-2 bd-highlight">
          <ul class="nav nav-tabs" style="border: none;">
            <li class="nav-item">
              <div><img src="../img.s/icon.s/pessoas.png" alt=""
                style="width: 33px; height: 33px;"></div>
            </li>
            <li class="nav-item dropdown">
             <div class="nav-link dropdown-toggle" data-toggle="dropdown">1 mesa, 1 pessoa</div>
              <div class="dropdown-menu">
               <div class="dropdown-item">Mesa<input type="number"></div> 
               <div class="dropdown-item">Pessoas<input type="number"></div> 
              </div>
            </li>
            <li class="nav-item">
             <div><img src="../img.s/icon.s/keyboard-arrow-down_119013.png" alt=""
                  style="width: 15px; height: 15px; margin-top: 12px;"></div>
            </li>
          </ul>
        </div>
        <div class="p-2 bd-highlight">
          <ul class="nav nav-tabs" style="border: none;">
            <li class="nav-item">
              <div><img src="../img.s/icon.s/logo2.png" alt="" style="width: 70px; height: 70px; margin-top: -20px;"></div> 
            </li>
            <li class="nav-item dropdown">
                <div>
                <h3>HOTELGADGIL</h3>
              </div>
            </li>
    
          </ul>
        </div>
      </div>
      </div>

      <main id="conteudos">
        <div id="primeiro">
            <p>
                One cannot possibly accept the fact that the example 
                of the preliminary network design indicates the 
                importance of The Advancement of Exquisite 
                Modification 
                (Jonathan Cohn in The Book of the Corporate 
                Competitiveness) 
                Without a doubt, Monty Cormier was right in saying 
                that, one of the internal resources the key factor on a 
                modern economy general tendency of the 
                development sequence. Thus a complete 
                understanding is missing. A solution might be in a 
                combination of strategic decisions and major and 
                minor objectives the benefits of data integrity. It may 
                reveal how the systems approach presumably the 
                positive influence of any efficient decision the 
                corporate asset growth. It should rather be regarded 
                as an integral part of the project architecture.   
                Consequently, an basic component of the continuing 
                assessmentdoctrineensuresintegrityofthis
            </p>
            <img src="../img.s/banner.s/emp.jpeg" class="float-sm-right" alt="">
        </div>

        <div class="d-flex justify-content-center" id="carateristicas">
            <div>
                <ul id="carac">
                    <li><h1>2</h1></li>
                    <li><p>Salas</p></li>
                </ul>
    </div>
     <div>
        <ul id="carac">
            <li><h1>120m^2</h1></li>
            <li><p>Dimenção</p></li>
        </ul>
     </div>
     <div>
        <ul id="carac">
            <li><h1>130</h1></li>
            <li><p>Capacidade</p></li>
        </ul>
     </div>
        </div>

        <div class="d-flex justify-content-center" id="caractereistica2" style="text-align: center;">
            <div>
                <form>
                          <label for="formControlRange">Capacidade</label>
                          <figure>
                            <input type="range" class="form-control-range" id="formControlRange">
                            <figcaption><p style="font-size: 10pt;">0&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;50
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;130</p></figcaption>
                          </figure>
                         
                      
                      </form>
                </ul>
            </div>
            <div>
              <label for="check1">Plateia</label><br>
              <input type="checkbox" id="check1">
            
            </div>
            <div>
              <label for="check2">Mesa U</label><br>
              <input type="checkbox" id="check2">
            </div>
            <div style="border-left: 1px solid rgb(134, 134, 134);">
              <p>Limpar filtro</p><img src="../img.s/icon.s/cancelar.png" alt="" style="width: 30px; height: 30px;">
            </div>
        </div>

        <section>   
          <div class="d-flex justify-content-center" id="cont">
            
          <img src="../img.s/banner.s/reuniois.jpg" alt="" id="img-section">

          <div id="lat">
            <h3>Sala Standard</h3>
            <p id="par1"> Desfrute da melhor sala de 
              reuniões 
              e conferência que temos para lhe 
              oferecer, com um conforto incrível 
              deixando os teus convidados  
              confortáveis e num ambiente 
              propísio.</p>
              <div class="d-flex justify-content-start" id="meio">
                <div>
                  <figure>
                    <img src="../img.s/icon.s/regua.jpeg" alt="" style="width: 40px; height: 40px;">
                    <figcaption><p style="font-size: 10pt; color: rgb(99, 100, 100);">120 m^2</p></figcaption>
                  </figure>
                </div>
                <div>
                  <figure>
                    <img src="../img.s/icon.s/people.jpeg" alt="" style="width: 40px; height: 40px;">
                    <figcaption><p style="font-size: 10pt; color: rgb(99, 100, 100);"> Até 130 pessoas</p></figcaption>
                  </figure>
                </div>
              </div>
              <button>Reservar</button>
          </div>

          </div> 

          <div class="d-flex justify-content-center" id="cont">
            
            <img src="../img.s/banner.s/max.jpg" alt="" id="img-section">
  
            <div id="lat">
              <h3>Sala Máx</h3>
              <p id="par1">  Desfrute da melhor sala de 
                reuniões 
                e conferência que temos para lhe 
                oferecer, com um conforto incrível 
                deixando os teus convidados  
                confortáveis e num ambiente 
                propísio.</p>
                <div class="d-flex justify-content-start" id="meio">
                  <div>
                    <figure>
                      <img src="../img.s/icon.s/regua.jpeg" alt="" style="width: 40px; height: 40px;">
                      <figcaption><p style="font-size: 10pt; color: rgb(99, 100, 100);">120 m^2</p></figcaption>
                    </figure>
                  </div>
                  <div>
                    <figure>
                      <img src="../img.s/icon.s/people.jpeg" alt="" style="width: 40px; height: 40px;">
                      <figcaption><p style="font-size: 10pt; color: rgb(99, 100, 100);"> Até 130 pessoas</p></figcaption>
                    </figure>
                  </div>
                </div>
                <button>Reservar</button>
            </div>
  
            </div>
        </section>

      </main>

    <footer>
        <p>© 2024 Hotel GADGIL. Todos os direitos reservados.</p>
    </footer>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
  integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
  integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</html>
